.hero-section{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("../images/dumbel1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    color:white;
    gap: 2rem;
}

.hero-content h1{
    line-height: 65px;
    font-size: 3rem;
    width: 500px;
    margin-bottom: 1rem;
    font-weight: 700;
}
.fitnurish{
    color: black;
    background-color:#1F7D53;
    border: none;
    border-radius: 8px; 
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 400px;
}

.hero-button{
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}

.hero-button button{
    width: 200px;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: white      ;
    color: black;
    font-weight: 600;
}
.hero-button button:hover{
    background-color: #1F7D53;
}



@media (max-width: 768px) {
  
    .hero-content h1 {
      font-size: 2.5rem;
    }
    .hero-section .logo{
        display: none;
        
    }
    .hero-section .logo{
        height: 250px;
    }

  }