*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    /* --text-color: #212529; */
    --white: #ffffff; /*color of text*/
    --black: #000000;
  }
  
body{
    background-color: var(--black);
    color: var(--white);
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(240, 235, 235, 0.9);
   color:var(--black);
   padding: 1rem 0;
   display: flex;
   justify-content: center;
   font-weight: bold;
   align-items: center;
   
   box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 1000;
 }

 .nav-container{
    width: 90%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6rem;
 }

 .nav-links{
   position: relative;
    list-style-type: none;
    display: flex;
    gap: 2rem;
    cursor: pointer;
    margin-top: 12px;
 }


 .nav-links :hover{
    color: #2e6b7a;
 }


 @media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}